<header class="br-header compact">
  <div class="container-lg">
    <div class="header-top">
      <div class="header-menu justify-content-between">
        <div class="menu-left d-flex align-items-center">
          <div class="header-menu-trigger">
            <button class="br-button small circle" type="button" aria-label="Menu" data-toggle="menu" data-target="#main-navigation" id="menu-compact">
              <i class="fas fa-bars" aria-hidden="true"></i>
            </button>
          </div>
          <%= link_to "/", class: "navbar-brand" do %>
            <%= image_tag "Logo_Receita_Federal_do_Brasil.svg" %>
          <% end %>
          <div class="header-title"> Nota Fiscal Eletrônica de Compra </div>
        </div>
        <div class="header-actions">
          <div class="header-links dropdown">
            <button class="br-button circle small" type="button" data-toggle="dropdown" aria-label="Abrir Acesso Rápido">
              <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <div class="br-list">
              <% if user_signed_in? %>
                <%= link_to 'Meus Pedidos', pedidos_path, class:"br-item" %>
              <% end %>
            </div>
          </div>
          <span class="br-divider vertical mx-half mx-sm-1"></span>

          <div class="header-login">
              <div class="header-avatar">
              <% if user_signed_in? %>
                <div class="avatar dropdown">
                  <span class="br-avatar" title="Fulana da Silva">
                    <span class="image"><img src="<%= image_url('https://thispersondoesnotexist.com/image') %>" alt="Avatar"/></span>
                  </span>
                  <button class="br-button circle small" type="button" aria-label="Abrir Menu de usuário" data-toggle="dropdown">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </button>
                  <div id="notification" class="br-notification">
                    <div class="notification-header">
                      <div class="row justify-content-between">
                        <div><span class="text-bold">Lucas Pacheco Lopes</span><br/><small>011.592.261-05</small></div>
                        <%= link_to "Sair", destroy_user_session_path, method: :delete %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              </div>
              <div class="header-sign-in">
              <% unless user_signed_in? %>
                <%= button_to "Entrar", new_user_session_path, method: :get, data: { trigger: "login" }, class: "br-button sign-in small" %>
              <% end %>
                <%# <button class="br-button sign-in small" type="button" data-trigger= "login"  >
                  <i class="fas fa-user" aria-hidden="true"></i><span class="d-sm-inline">Entrar</span>
                </button> %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
