<h1>Notas Fiscais</h1>
<table>
  <thead>
    <tr>
      <th>Emissão</th>
      <th>CNPJ Fornecedor</th>
      <th>Nome do Fornecedor</th>
      <th>Descrição da CFOP</th>
      <th>Número da Nota</th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <th><%=nota.emissao%></th>
      <th><%=nota.emitente%></th>
      <th><%=nota.nome_emitente%></th>
      <th><%=nota.descricao_cfop%></th>
      <th><%=nota.numero_nota%></th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <th>Chave NFe</th>
      <th><%=nota.chave%></th>
    </tr>
    <tr>
      <th>Descrição Mercadoria Serviço</th>
      <th>Unidade</th>
      <th>Quantidade</th>
      <th>Valor Unitário</th>
      <th>Valor Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% nota.item_notas.each do |item| %>
      <tr>
        <td><%= item.descricao %></td>
        <td><%= item.unidade_comercial %></td>
        <td><%= item.quantidade_comercial %></td>
        <td><%= item.valor_unitario %></td>
        <td><%= item.valor_total %></td>
      </tr>
    <% end %>
  </tbody>
</table>
