<div class="container-lg pt-3" data-controller="nota">
  <div class="br-table" data-search="data-search" data-selection="data-selection" data-collapse="data-collapse">
    <div class="table-header" data-nota-target="tableHeader">
      <div class="top-bar">
        <div class="table-title">Notas Fiscais</div>
        <div class="search-trigger">
          <button class="br-button circle" type="button" data-toggle="search" aria-label="Abrir busca" data-action="click->nota#toggleSearch">
            <i class="fas fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="search-bar" data-nota-target="searchBar">
        <%= form_tag(notas_path, {method: :get, class: 'br-input'}) do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Buscar nome do fornecedor ou item da nota",
          data: {'nota-target': 'searchInput' }
          %>
          <%= button_tag(type: "submit", class: "br-button circle", name: nil) do %>
            <i class="fas fa-search"></i>
          <% end %>
          <%# <input id="table-searchbox" type="text" placeholder="Buscar nome fornecedor ou item da nota" data-nota-target="searchInput" />
          <button class="br-button circle" type="button" aria-label="Buscar"><i class="fas fa-search"></i></button> %>
        <% end %>
        <button class="br-button circle" type="button" data-dismiss="search" aria-label="Fechar busca" data-action="click->nota#untoggleSearch">
          <i class="fas fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <table id="mainTable" class="table table-bordered" style="border-collapse:collapse;">
      <caption>Nota Fiscal</caption>
      <thead class="mTable">
        <tr>
          <th class="mTable" scope="col"></th>
          <th class="mTable" scope="col">Emissão</th>
          <th class="mTable" scope="col">CNPJ Fornecedor</th>
          <th class="mTable" scope="col">Nome do Fornecedor</th>
          <th class="mTable" scope="col">Chave</th>
          <th class="mTable" scope="col">Valor Total</th>
        </tr>
      </thead>
      <tbody>
        <% if @notas.each do |nota| %>
          <tr data-toggle="collapse" data-target="#accordion-<%=nota.id%>"
            class="accordion" aria-expanded="false" style="cursor: pointer;">
            <td><i class="fas fa-chevron-down d-flex" data-nota-target="chevron"></i></td>
            <td data-th="Emissão"><%=nota.emissao%></td>
            <td data-th="CNPJ Fornecedor"><%=nota.emitente%></td>
            <td data-th="Nome do Fornecedor"><%=nota.nome_emitente%></td>
            <td data-th="Chave" data-nota-target="clipboard"> <%=nota.chave%>
              <span id="clipboard" data-action="click->nota#copy" data-toggle="tooltip" title="Copiar p/ clipboard">
                <i class="far fa-clipboard"></i>
                <span id="custom-tooltip">Copiado!</span>
              </span>
            </td>
            <td data-th="Valor Total">R$ <%= number_to_currency(@totais[nota.id], unit: '', separator: ',', delimiter: '.') %></td>
          </tr>
          <tr>
            <td class="collapse" colspan="6" id="accordion-<%=nota.id%>">
              <table class="table">
                <tbody>
                  <thead class="">
                    <tr>
                      <th scope="col">Quantidade</th>
                      <th scope="col">Unidade</th>
                      <th scope="col">Descrição</th>
                      <th scope="col">Valor Unitário</th>
                      <th scope="col">Valor Total do Item</th>
                    </tr>
                  </thead>
                  <% nota.item_notas.each do |item| %>
                    <tr>
                      <td><%= number_with_delimiter(item.quantidade_comercial, separator: ',', unit: '') %></td>
                      <td><%= item.unidade_comercial %></td>
                      <td><%= item.descricao %></td>
                      <td>R$ <%= number_to_currency(item.valor_unitario, separator: ',', delimiter: '.', unit: '') %></td>
                      <td>R$ <%= number_to_currency(item.valor_total, separator: ',', delimiter: '.', unit: '') %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </td>
          </tr>
        <% end.empty? %>
        <tr> <td colspan="6">Nenhuma nota encontrada.</td> </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
