<!DOCTYPE html>
<html>
  <head>
    <title>NfeCompra</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- gov.br -->
    <!-- Fonte Rawline -->
    <link rel="stylesheet" href="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css"/>
    <!-- Fonte Raleway -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap" />
    <!-- fim de gov.br -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <div class="template-base">
      <!-- Header -->
      <%= render 'shared/header' %>
      <!-- Área de conteúdo -->
      <main id="main">
        <div id="main-content" class="main-content">
          <%= yield %>
        </div>
      </main>
      <!-- Footer aqui -->
      <%# <footer id="footer" class="br-footer"></footer> %>
    </div>
    <%= render 'shared/flashes' %>
  </body>
</html>
